/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Font Imports  */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Khand:wght@300&display=swap');


/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ***THIS IS THE START OF THE MAIN STYLING SHEET*** */
@media (min-width: 320px){
	/* ALL */
	a{
		text-decoration: none;
	}
	body{
		background-color: rgba(240, 240, 240, 0.822);
	}
/*Header*/
	.headerBox{
		width: 100%;
		box-shadow: 0px 1px 10px 0px lightgrey;
		padding-top: 1%;
		display: flex;
		flex-direction: column;
	}
	.headerBox div{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.login{
		padding: 1% 1%;
		border-radius: 5px;
		font-family: 'Khand', sans-serif;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 0.5px;
		width: 60%;
		color: black;
		text-align: center;
		}
	.headerBox div div{
		display: flex;
		width: 49%;
		text-align: center;
	}
	h1{
		width: 100%;
		text-align: center;
		font-family: 'Leckerli One', cursive;
		font-size: 3.5rem;
		color: #FCA311;
		padding-bottom: 1%;
		padding-top: 1%;
	}
	header nav{
		display: flex;
	}
	nav{
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding-bottom: 4%;
	}
	nav div{
		width: 50%;
		text-align: center;
		padding: 2%;
	}
	nav a{
		padding: 2% 5%;
		border-radius: 13px;
		color: black;
		box-shadow: 0 1.5px 5px lightgrey;
		font-family: 'Khand', sans-serif;
		font-weight: 600;
		letter-spacing: 2px;
		background-color: rgba(240, 240, 240, 0.822)
	}
	/* *** Mission Statement Box *** */
	.missionBox{
		display: flex;
		padding-top: 5%;
		align-items: center;
		flex-direction: column-reverse;
	}
	.missionBox div{
		text-align: center;
		font-family: 'Concert One', cursive;
		width: 60%;
	}
	h2{
		padding-bottom: 2%;
		font-size: 2rem;
	}
	p{
		text-align: center;
		width: 100%;
		font-family: 'Khand', sans-serif;
		font-size: 1.5rem;
		line-height: 150%;
	}
	.missionBox .statements p{
		font-size: 2rem;
		color: Black;
		text-align: center;
	}
	.statements{
		padding: 3% 0;
	}
	.bolderIAm{
		color: #FCA311;
		font-weight: 1000;
	}
	b{
		font-weight: bold;
	}
	/* *** THE MIDDLE SECTION *** */
	.mid{
		display: flex;
		padding-top: 3%;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
	}
	.mid div img{
		max-width: 250px;
		border-radius: 15px;
		box-shadow: 0px 3px 20px 0px black;
	}
	.mid div div img{
		border-radius: 0;
	}
	.mid div{
		padding-top: 5%;
		padding-bottom: 5%;
	}
	/* *** FOOTER *** */
	hr{
		width: 90%;
	}
	footer nav{
		display: flex;
		justify-content: space-evenly;
		padding-bottom: 2%;
	}
	footer nav img{
		max-width: 100px;
	}
	footer nav div a{
		font-family: 'Khand', sans-serif;
		color: black;
		border: none;
		box-shadow: none;
	}
	footer nav div{
		padding: 3%;
	}
	/* *** THIS IS THE TEAM PAGE SECTION *** */
	.team{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5%;
	}
	.team img{
		max-width: 100px;
		border-radius: 50%;
	}
	.team div{
		width: 60%;
		padding: 3%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.team div p{
		padding: 5% 0;
		border-radius: 25px;
		font-size: 1.1rem;
		letter-spacing: 1px;
		box-shadow: 10px 10px 15px 5px lightgrey;
	}
	h2{
		font-weight: bold;
		font-family: 'Khand', sans-serif;
		letter-spacing: 2px;
		text-align: center;
		padding-top: 2%;
	}
	footer nav{
		padding-top: 2%;
	}
}

/* Break point  for device screens at 500 px or bigger */

@media (min-width: 500px){
	/* HEADER */
	.headerBox nav{
		flex-direction: row;
		justify-content: center;
	}
	.headerBox nav div{
		width: 25%;
	}
/* MID SECTION */
	.mid div img{
		max-width: 300px;
	}
	.missionBox p{
		font-size: 1.5rem;
	}
	.missionBox .statements p{
		font-size: 2.7rem;
	}
	.statements{
		padding: 3% 0;
	}
	.bolderIAm{
		color: #FCA311;
		font-weight: 1000;
	}
	/* TEAM PAGE  */
	.team div{
		flex-direction: row;
		width: 70%;
	}
	.team div img{
		padding: 5%;
		border-radius: 50%;
		max-width: 130px;
	}
/* FOOTER */
	footer nav{
		flex-direction: row-reverse;
		justify-content: flex-end;
		padding-left: 5%;
	}
	footer nav div{
		width: 24%;
		padding-left: 0%;
		padding-right: 0%;
	}
	footer nav div:nth-child(2){
		order: -1
	}
	footer nav div:nth-child(3){
		order: -2
	}
}

/* BREAK POINT */
@media (min-width:800px){
	.headerBox nav{
		padding-bottom: 2%;
	}
	.team{
		margin: auto;
		width: 80%;
	}
	.team div img{
		max-width: 150px;
	}
}

/* BREAK POINT */
@media (min-width: 1000px){
/* HEADER */
	.headerBox{
		flex-direction: row;
	}
	.headerBox .topHeaderDiv{
		width: 40%;
		align-items: flex-start;
	}
	.login{
		width:100%;
		padding-bottom: 3%;
	}
	.login:hover{
		font-weight: bolder;
		transition: 0.5s;
		transform: scale(1.4);
	}
	.headerBox div div a{
		width: 20%;
	}
	.headerBox nav div{
		width: 20%;
	}
	.headerBox nav{
		padding: 0%;
	}
	header nav div a:hover {
		color:black;
		background-color: rgba(240, 240, 240, 0.822);		
		transition: 0.5s;
		transform: scale(1.15);
		box-shadow: 0px 2px 5px lightgrey;
	}
	header nav div a{
		padding: 2%;
		width: 100%;
	}
	h1{
		width:100%;
		font-size: 4rem;
	}

	/* Mission box */

	.missionBox{
		flex-direction: row;
		justify-content: space-evenly;
		width: 90%;
		margin: 0 auto;
		font-size: 2rem;
	}
	.missionBox div{
		width: 60%;
	}
	.missionBox img{
		max-width: 200px;
	}

	/* MIDDLE STUFF *//*THE HOW TO SECTION*/


	.mid{
		margin: 0 auto;
		width: 70%;
	}
	.top-Mid{
		display: flex;
		flex-direction: row-reverse;
	}
	.top-Mid p{
		width: 50%;
	}
	.bottom-Mid{
		display: flex;
		padding-bottom: 1%;
	}
	.mid div{
		width: 100%;
		padding-top: 2%;
	}
	.mid div p{
		width: 100%;
	}
	.mid div img{
		max-width: 400px;
		width: 30%;
		padding: 0%;
	}
	/* TEAM PAGE  */
	.team div{
		width: 50%;
	}
	.team div img{
		max-width: 150px;
	}
	/* FOOTER */
	footer nav div{
		width: 10%;
	}
}

@media(min-width: 1200px){
/* TEAM PAGE */
	.headerBox div div a{
	width: 20%;
	}
	h1{
		font-size: 5rem;
	}
	.login{
		font-size: 1.2rem;
	}
	.team{
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 2%;
	}
	.team div{
		max-width: 40%;
	}
}